:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --main-font: "IBM Plex mono";
  --text-size: 18px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-color: #ff0070;
  --decoration-color: #ff0070;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --hover-color: rgba(255 0 112 / 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}
